.container{
    display: grid;
    padding: 2rem;
    grid-template-columns: 2fr 0.8fr; 
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}

.tbody>tr>td{
    text-align: center;
}

.tbody>tr>:nth-child(2){
    width: 20%;
}

.imageTd>span>img{
    border-radius: 50%;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 14rem;
    padding: 1.5rem;
    background-color: var(--cartBack);
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.cart>span{
    font-weight: bold;
    font-size: 25px;
}

.cartDetails>div{
    display: flex;
    justify-content: space-between;
}

.cartDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.payNowBtn{
    padding: 0.9rem;
    display: flex;
}

.payNowBtn:hover{
    color: white;
    background-color: var(--themeGold);
    transform: scale(1.1);
}

.payOnDeliveryBtn{
    display: flex;
    padding: 0.9rem;
    background-color: transparent;
    color:var(--themeRed);
    border: 2px solid black;
}

.payOnDeliveryBtn:hover{
    color: white;
    background-color: var(--themeGold);
    transform: scale(1.1);
}

.cartButtons{
    display: flex;
}

