.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(1deg, rgba(255,237,237,0.8) 0%, rgba(255,255,2555,0) 14rem);
}

.innerContainer{
    justify-content: space-between;
}

.socialMediaIcons{
    gap: 1rem;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem; 
    flex: 1;
    margin-bottom: 1rem;
}

.logo>span{
    font-weight: bold;
    font-size: 20px;
    color: var(--themeGold)
    
}   